/.vscode
/.with_vim.cpp.swp
/age
/age.cpp
/coin_flip
/coin_flip.cpp
/getline
/getlinedem.cpp
/guess
/guess.cpp
/hello
/hello.cpp
/is_sorted
/is_sorted.cpp
/number_to_english
/number_to_english.cpp
/pathetic_calc.cpp
/person
/person.cpp
/pinters_tests
/pinters_tests.cpp
/ps_rand
/ps_rand.cpp
/ships
/ships.cpp
/test
/test.cpp
/the_bad
/the_bad.cpp
/tic_tac_toe
/with_vim.cpp